@using FEP.Models
@using FEP.Utility
@using FEP.Core.Interfaces.IData;
@using FEP.Core.Services;
@using FEP.Data;
@{
    var Nikes = ViewBag.Nikes;
    var Adidas = ViewBag.Adidas;
    var MLBs = ViewBag.MLBs;
    var Deps = ViewBag.Deps;
    var Luxurys = ViewBag.Luxurys;
    int IDTypeNike = int.Parse(Session["IDTypeNike"].ToString());
    int IDTypeAdidas = int.Parse(Session["IDTypeAdidas"].ToString());
    int IDTypeLuxury = int.Parse(Session["IDTypeLuxury"].ToString());
    int IDTypeMLB = int.Parse(Session["IDTypeMLB"].ToString());
    int IDTypeDep = int.Parse(Session["IDTypeDep"].ToString());
    ISneakerData _NHibernateData = new NHibernateData();
    SneakerService _SneakerService = new SneakerService(_NHibernateData);
}

@{
    ViewBag.Title = "FEP";
    Layout = "~/Views/Shared/_LayoutPageMain.cshtml";
}

<div class="slideshow">
    <div class="slides">
        <input type="radio" name="rSlide" id="rS1" checked>
        <input type="radio" name="rSlide" id="rS2">
        <input type="radio" name="rSlide" id="rS3">
        <div class="slide S1">
            <img src="~/Content/img/slider/s1.JPG" alt="">
        </div>
        <div class="slide">
            <img src="~/Content/img/slider/s2.JPG" alt="">
        </div>
        <div class="slide">
            <img src="~/Content/img/slider/s3.JPG" alt="">
        </div>
    </div>
    <div class="dots">
        <label for="rS1" class="dot active"></label>
        <label for="rS2" class="dot"></label>
        <label for="rS3" class="dot"></label>
    </div>
</div>
<div class="distance-slideshow"></div>


<div class="container-xl">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="container-dv">
                <div class="block-title">
                    <h2>GIÀY NIKE</h2>
                </div>
                <div class="row">
                    @foreach (Sneaker item in Nikes)
                    {
                        List<string> AnhBia = _SneakerService.GetCoverPicture(item.ID);
                        <div class="product col-lg-3 col-md-6 col-sm-6 col-6">
                            <a href="@Url.Action("ProductDetails", "Home", new { idSneaker=item.ID })" class="product__link" title="@item.Name">
                                @if (item.Discount != 0)
                                {
                                    <span class="sale">- @item.Discount%</span>
                                }
                                <img class="product__img" src="~/Content/img/Link/@item.ID/@AnhBia[0]" alt="@item.Name">
                                @if (AnhBia.Count > 1)
                                {
                                    <div class="product__hover">
                                        <img class="product__hover-img" src="~/Content/img/Link/@item.ID/@AnhBia[1]" alt="@item.Name">
                                    </div>
                                }
                                else
                                {
                                    <div class="product__hover">
                                        <img class="product__hover-img" src="~/Content/img/Link/@item.ID/@AnhBia[0]" alt="@item.Name">
                                    </div>
                                }
                                @if (_SneakerService.GetAmountInventorySneaker(item.ID) == 0)
                                {
                                    <div class="run-out"><span>hết hàng</span></div>
                                }
                            </a>
                            <div class="product__caption">
                                <h3><a href="@Url.Action("ProductDetails", "Home", new { idSneaker=item.ID })" class="product__caption-link" title="@item.Name">@item.Name</a></h3>
                            </div>
                            <div class="product__price">
                                <div class="product__price-current">@string.Format("{0:0,0}", item.PriceAfterDiscount)<span class="product__price-current--symbol">₫</span></div>
                                @if (item.Discount != 0)
                                {
                                    <div class="product__price-old">@string.Format("{0:0,0}", item.Price)<span class="product__price-current--symbol">₫</span></div>
                                }
                            </div>
                        </div>
                    }

                    <div class="submit">
                        <a href="~/Home/Products?idSneakerType=@IDTypeNike" class="submit__link">XEM THÊM</a>
                    </div>
                </div>

                <div class="container-dv">
                    <div class="block-title">
                        <h2>Giày Adidas</h2>
                    </div>
                    <div class="row">
                        @foreach (Sneaker item in Adidas)
                        {
                            List<string> AnhBia = _SneakerService.GetCoverPicture(item.ID);
                            <div class="product col-lg-3 col-md-6 col-sm-6 col-6">
                                <a href="@Url.Action("ProductDetails", "Home", new { idSneaker=item.ID })" class="product__link" title="@item.Name">
                                    @if (item.Discount != 0)
                                    {
                                        <span class="sale">- @item.Discount%</span>
                                    }
                                    <img class="product__img" src="~/Content/img/Link/@item.ID/@AnhBia[0]" alt="@item.Name">
                                    @if (AnhBia.Count > 1)
                                    {
                                        <div class="product__hover">
                                            <img class="product__hover-img" src="~/Content/img/Link/@item.ID/@AnhBia[1]" alt="@item.Name">
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="product__hover">
                                            <img class="product__hover-img" src="~/Content/img/Link/@item.ID/@AnhBia[0]" alt="@item.Name">
                                        </div>
                                    }
                                    @if (_SneakerService.GetAmountInventorySneaker(item.ID) == 0)
                                    {
                                        <div class="run-out"><span>hết hàng</span></div>
                                    }
                                </a>
                                <div class="product__caption">
                                    <h3><a href="@Url.Action("ProductDetails", "Home", new { idSneaker=item.ID })" class="product__caption-link" title="@item.Name">@item.Name</a></h3>
                                </div>
                                <div class="product__price">
                                    <div class="product__price-current">@string.Format("{0:0,0}", item.PriceAfterDiscount)<span class="product__price-current--symbol">₫</span></div>
                                    @if (item.Discount != 0)
                                    {
                                        <div class="product__price-old">@string.Format("{0:0,0}", item.Price)<span class="product__price-current--symbol">₫</span></div>
                                    }
                                </div>
                            </div>
                        }
                    </div>

                    <div class="submit">
                        <a href="~/Home/Products?idSneakerType=@IDTypeAdidas" class="submit__link">XEM THÊM</a>
                    </div>
                </div>

                <div class="container-dv">
                    <div class="block-title">
                        <h2>Giày MLB</h2>
                    </div>
                    <div class="row">
                        @foreach (Sneaker item in MLBs)
                        {
                            List<string> AnhBia = _SneakerService.GetCoverPicture(item.ID);
                            <div class="product col-lg-3 col-md-6 col-sm-6 col-6">
                                <a href="@Url.Action("ProductDetails", "Home", new { idSneaker=item.ID })" class="product__link" title="@item.Name">
                                    @if (item.Discount != 0)
                                    {
                                        <span class="sale">- @item.Discount%</span>
                                    }
                                    <img class="product__img" src="~/Content/img/Link/@item.ID/@AnhBia[0]" alt="@item.Name">
                                    @if (AnhBia.Count > 1)
                                    {
                                        <div class="product__hover">
                                            <img class="product__hover-img" src="~/Content/img/Link/@item.ID/@AnhBia[1]" alt="@item.Name">
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="product__hover">
                                            <img class="product__hover-img" src="~/Content/img/Link/@item.ID/@AnhBia[0]" alt="@item.Name">
                                        </div>
                                    }
                                    @if (_SneakerService.GetAmountInventorySneaker(item.ID) == 0)
                                    {
                                        <div class="run-out"><span>hết hàng</span></div>
                                    }
                                </a>
                                <div class="product__caption">
                                    <h3><a href="@Url.Action("ProductDetails", "Home", new { idSneaker=item.ID })" class="product__caption-link" title="@item.Name">@item.Name</a></h3>
                                </div>
                                <div class="product__price">
                                    <div class="product__price-current">@string.Format("{0:0,0}", item.PriceAfterDiscount)<span class="product__price-current--symbol">₫</span></div>
                                    @if (item.Discount != 0)
                                    {
                                        <div class="product__price-old">@string.Format("{0:0,0}", item.Price)<span class="product__price-current--symbol">₫</span></div>
                                    }
                                </div>
                            </div>
                        }
                    </div>

                    <div class="submit">
                        <a href="~/Home/Products?idSneakerType=@IDTypeMLB" class="submit__link">XEM THÊM</a>
                    </div>
                </div>

                <div class="container-dv">
                    <div class="block-title">
                        <h2>Dép siêu cấp nam nữ</h2>
                    </div>
                    <div class="row">
                        @foreach (Sneaker item in Deps)
                        {

                            List<string> AnhBia = _SneakerService.GetCoverPicture(item.ID);
                            <div class="product col-lg-3 col-md-6 col-sm-6 col-6">
                                <a href="@Url.Action("ProductDetails", "Home", new { idSneaker=item.ID })" class="product__link" title="@item.Name">
                                    @if (item.Discount != 0)
                                    {
                                        <span class="sale">- @item.Discount%</span>
                                    }
                                    <img class="product__img" src="~/Content/img/Link/@item.ID/@AnhBia[0]" alt="@item.Name">
                                    @if (AnhBia.Count > 1)
                                    {
                                        <div class="product__hover">
                                            <img class="product__hover-img" src="~/Content/img/Link/@item.ID/@AnhBia[1]" alt="@item.Name">
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="product__hover">
                                            <img class="product__hover-img" src="~/Content/img/Link/@item.ID/@AnhBia[0]" alt="@item.Name">
                                        </div>
                                    }
                                    @if (_SneakerService.GetAmountInventorySneaker(item.ID) == 0)
                                    {
                                        <div class="run-out"><span>hết hàng</span></div>
                                    }
                                </a>
                                <div class="product__caption">
                                    <h3><a href="@Url.Action("ProductDetails", "Home", new { idSneaker=item.ID })" class="product__caption-link" title="@item.Name">@item.Name</a></h3>
                                </div>
                                <div class="product__price">
                                    <div class="product__price-current">@string.Format("{0:0,0}", item.PriceAfterDiscount)<span class="product__price-current--symbol">₫</span></div>
                                    @if (item.Discount != 0)
                                    {
                                        <div class="product__price-old">@string.Format("{0:0,0}", item.Price)<span class="product__price-current--symbol">₫</span></div>
                                    }
                                </div>
                            </div>
                        }
                    </div>

                    <div class="submit">
                        <a href="~/Home/Products?idSneakerType=@IDTypeDep" class="submit__link">XEM THÊM</a>
                    </div>
                </div>

                <div class="container-dv">
                    <div class="block-title">
                        <h2>Luxury</h2>
                    </div>
                    <div class="row">
                        @foreach (Sneaker item in Luxurys)
                        {

                            List<string> AnhBia = _SneakerService.GetCoverPicture(item.ID);
                            <div class="product col-lg-3 col-md-6 col-sm-6 col-6">
                                <a href="@Url.Action("ProductDetails", "Home", new { idSneaker=item.ID })" class="product__link" title="@item.Name">
                                    @if (item.Discount != 0)
                                    {
                                        <span class="sale">- @item.Discount%</span>
                                    }
                                    <img class="product__img" src="~/Content/img/Link/@item.ID/@AnhBia[0]" alt="@item.Name">
                                    @if (AnhBia.Count > 1)
                                    {
                                        <div class="product__hover">
                                            <img class="product__hover-img" src="~/Content/img/Link/@item.ID/@AnhBia[1]" alt="@item.Name">
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="product__hover">
                                            <img class="product__hover-img" src="~/Content/img/Link/@item.ID/@AnhBia[0]" alt="@item.Name">
                                        </div>
                                    }
                                    @if (_SneakerService.GetAmountInventorySneaker(item.ID) == 0)
                                    {
                                        <div class="run-out"><span>hết hàng</span></div>
                                    }
                                </a>
                                <div class="product__caption">
                                    <h3><a href="@Url.Action("ProductDetails", "Home", new { idSneaker=item.ID })" class="product__caption-link" title="@item.Name">@item.Name</a></h3>
                                </div>
                                <div class="product__price">
                                    <div class="product__price-current">@string.Format("{0:0,0}", item.PriceAfterDiscount)<span class="product__price-current--symbol">₫</span></div>
                                    @if (item.Discount != 0)
                                    {
                                        <div class="product__price-old">@string.Format("{0:0,0}", item.Price)<span class="product__price-current--symbol">₫</span></div>
                                    }
                                </div>
                            </div>
                        }
                    </div>


                    <div class="submit">
                        <a href="~/Home/Products?idSneakerType=@IDTypeLuxury" class="submit__link">XEM THÊM</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
